<button mat-icon-button class="closeCorner" (click)="close()" color="accent"><mat-icon>close</mat-icon></button>
<h1 mat-dialog-title>{{event.title}}</h1>
<div mat-dialog-content>
  <p>{{event.desc}}</p>
  <table class="dateTable">
    <tr>
      <td class="firstColumn">Begin:</td>
      <td>{{event.fromDateString}}</td>
    </tr>
    <tr>
      <td class="firstColumn">End:</td>
      <td>{{event.toDateString}}</td>
    </tr>
    <tr>
      <td class="firstColumn">Location:</td>
      <td>{{event.locDesc}}</td>
    </tr>
    <tr>
      <td class="firstColumn"></td>
      <td><button mat-stroked-button class="mapButton" (click)="openLoc()"><mat-icon>map</mat-icon></button></td>
    </tr>
  </table>

</div>
<button mat-raised-button class="closeBottom" (click)="close()" color="accent">Close</button>
