.closeBottom {
  width: 100%;
}

.closeCorner {
  float: right;
}

.dateTable {
  width: 100%;
  text-align: left;
  /* border: 1px solid black; */
}

.dateTable td {
  padding: 10px;
}

.firstColumn {
  width: 1px;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
}

.desc {
  word-break: break-all;
}

.mapButton {
  width: 100%;
}
