<div class="aboutHeader">
  <div class="aboutHeaderAbout">About</div>
  <img src="assets/images/header_bright.png" style="height: 30px;margin: 20px;" id="logoAbout">
</div>
<div class="aboutDevelopment">
  <div class="aboutDevelopmentHeading">Development:</div>
  <ul class="aboutDevelopmentDevelopers">
    <li>Simon Eilmsteiner</li>
    <li>Marvin Hengster</li>
    <li>Christian Mayrhofer</li>
  </ul>
  <div class="aboutDevelopmentDevelopment">
    Developed in the context of the course “Special Topics – Mobile Web Development” in summer semester 2019
    at Johannes Kepler University Linz, Austria.
  </div>
  <div class="aboutDevelopmentDisclaimer">
    <b>Disclaimer</b><br>
    The information provided by us on EventMate (the “Site”) is for general informational purposes only. All
    information on the Site is provided in good faith, however we make no representation or warranty of any
    kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or
    completeness of any information on the Site.
    Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as
    a result of the use of the site or reliance on any information provided on the site. Your use of the
    site and your reliance on any information on the site is solely at your own risk.
    <br><br>
    <b>External links</b><br>
    The Site may contain (or you may be sent through the Site) links to other websites or content belonging
    to or originating from third parties or links to websites and features in banners or other advertising.
    Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity,
    reliability, availability or completeness by us. We do not warrant, endorse, guarantee, or assume
    responsibility for the accuracy or reliability of any information offered by third-party websites linked
    through the site or any website or feature linked in any banner or other advertising. We will not be a
    party to or in any way be responsible for monitoring any transaction between you and third-party
    providers of products or services.
  </div>
  <div class="aboutDevelopmentCopyright">
    © 2019. All rights reserved.
  </div>
</div>
