<div class="sidenav">
  <div class="navtop">
    <table id="login">
      <tr>
        <td><input type="text" placeholder="Username"></td>
      </tr>
      <tr>
        <td><input type="password" placeholder="Password"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Login" id="loginButton"></td>
      </tr>
    </table>
    <hr />
    <ul>
      <li><a href="#" class="pagelink" data-pageId="index"><button>Near your location</button></a></li>
      <li><a href="#" class="pagelink" data-pageId="yourEvents"><button>Your events</button></a></li>
      <li><a href="#" class="pagelink" data-pageId="plannedToAttend"><button>Planned to attend</button></a></li>
      <!--<li><a href="add.html"><button>Add new event</button></a></li>-->
      <li><a href="notificationTest.html"><button>Notification Testpage</button></a></li>
      <li><a href="#" class="pagelink" data-pageId="about"><button>About</button></a></li>
    </ul>
    <!--</div>
                    <div class="navbottom">-->
    <hr />
    Settings<br />
    <label class="switch">
      <input type="checkbox" id="darkmode" onclick="changeTheme();">
      <span class="slider round"></span>
    </label>
    <label for="darkmode">Darkmode</label>
  </div>
</div>
