<div class="filter" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="filtercontent">
    <table>
      <tr>
        <td><label for="filterOn">Enable Filter&nbsp;</label></td>
        <td colspan="2">
          <mat-slide-toggle [checked]="isEnabled" (change)="onFilterEnabledChange($event)"></mat-slide-toggle>
        </td>
      </tr>
      <tr>
        <td>Distance:</td>
        <td>
          <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" [value]="distance"
            (change)="onDistanceChange($event)" min="1" max="50">
          </mat-slider>
        </td> <!-- make slider -->
        <td></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>
          <mat-chip-list class="types" multiple="true">
            <mat-chip>Type 1</mat-chip>
            <mat-chip>Type 2</mat-chip>
            <mat-chip>Type 3</mat-chip>
            <mat-chip>Type 3</mat-chip>
            <mat-chip>Type 4</mat-chip>
            <mat-chip>Type 5</mat-chip>
          </mat-chip-list>
        </td> <!-- make list with multiple checkables -->
      </tr>
      <tr>
        <td>Date:</td>
        <td colspan="2">
          <mat-form-field class="datepicker">
            <input matInput [matDatepicker]="pickerFrom" placeholder="From Date:" [value]="fromDate"
              (dateChange)="onFromDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="datepicker">
            <input matInput [matDatepicker]="pickerTo" placeholder="To Date:" [value]="toDate"
              (dateInput)="onToDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>
          <form class="locationform">
            <mat-form-field class="location" (keyup)="onLocationChange($event)">
              <input type="text" placeholder="Select your location" aria-label="Number" matInput
                [matAutocomplete]="auto" ([ngModel])="locationString">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                <mat-option *ngFor="let option of options" ([ngModel])="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
