<!--Header-->
<mat-toolbar class="header">  
    <mat-toolbar-row>
      <span  class="topbar">
          <div class="menuIcon"><img src="assets/images/menu_bright.png" id="menuIconImage" class="rotate-0" onclick="changeSideNavIconRotation()"/></div>
            <div class="brandDiv">
            </div>
            <div class="headerSpacer">&nbsp;</div>
        </span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span class="toplowerbar">
            <div class="headerSpacer">&nbsp;</div>
            <div class="centerHeaderDiv" id="centerHeaderDiv">NEAR {{city}}
                <img src="assets/images/loc.png" style="height: 35px;" />
            </div>
            <div class="filterIcon"><img src="assets/images/filterOff.png" height="35px" id="filterIcon"
                    onclick="toggleFilter()" /></div>
      </span>
    </mat-toolbar-row>
</mat-toolbar>

<!--Nav-->
<div class="content">
    <mat-sidenav-container class="example-sidenav-container">
        <app-nav></app-nav>
        <mat-sidenav-content>
            <div>test</div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!--content-->

<!--Footer-->
<mat-toolbar class="footer"><div class="footer"><p>© 2019 by Team EventMate</p></div></mat-toolbar>