<!--Header-->
<mat-toolbar class="header">
  <mat-toolbar-row>
    <span class="topbar">
      <button mat-flat-button (click)="snav.toggle()" class="menuButton">
        <mat-icon class="menuIcon">menu</mat-icon>
      </button>
      <div class="brandDiv" (click)="gotoHome()">
      </div>
      <div class="headerSpacer" (click)="gotoHome()">&nbsp;</div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!--Nav-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode='over' fixedInViewport="true" [autoFocus]="false">
    <!-- <app-nav></app-nav> -->
    <div class="sidenav">
      <div class="login-container">
        <mat-form-field style="width: 200px">
          <input matInput placeholder="Enter your username" [type]="'text'">
        </mat-form-field>
        <br>
        <mat-form-field style="width: 200px">
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 200px">Login</button>
      </div>
      <mat-divider></mat-divider>
      <div class="menu-container">
        <button mat-raised-button routerLink="" (click)="snav.toggle()" color="accent">Near your location</button><br>
        <button mat-raised-button routerLink="yourevents" (click)="snav.toggle()" color="accent">Your events</button><br>
        <button mat-raised-button routerLink="planned" (click)="snav.toggle()" color="accent">Planned to attend</button><br>
        <button mat-raised-button routerLink="about" (click)="snav.toggle()" color="accent">About</button><br>

      </div>
    </div>
  </mat-sidenav>
  <!--content-->
  <mat-sidenav-content class="content">
    <!--Filter-->
    <app-filter #filter></app-filter>
    <div class="toplowerbar">
      <div class="headerSpacer">&nbsp;</div>
      <div class="centerHeaderDiv" id="centerHeaderDiv">NEAR {{city}}
        <img src="assets/images/loc.png" style="height: 35px;" />
      </div>
      <div class="filterIcon"><img src="assets/images/filterOff.png" height="35px" id="filterIcon"
          (click)="toggleFilter()" /></div>
    </div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<!--Footer-->
<mat-toolbar class="footer">
  <div class="footer">
    <p>© 2019 by Team EventMate</p>
  </div>
</mat-toolbar>
