/* GENERAL PAGE LAYOUT */
.content {
    top: 90px;
    bottom: 40px;
    max-height: calc(100% - 130px);
    max-width: 1120px;
    width: 100%;
    overflow: auto;
    position: fixed;
    background-color: #f1f3f4;
  }

.sidenav-container {
    flex: 1;
    z-index: 1;
    position: fixed;
     top: 45px;
    bottom: 40px;
    max-height: calc(100% - 85px);
    max-width: 1120px;
    width: 100%;
    overflow: auto;
    background-color: transparent;
  }

mat-toolbar-row {
    padding: 0px 0px;
}

.header, .footer {
    max-width: 1120px;
    width: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: 40;
}

.header {
    top: 0px;
    height: 45px;
    min-height: 40px;
}

.footer {
    bottom: 0px;
    height: 40px;
    z-index: 50;
    text-align: center;
}

.footer p {
    margin-top: 12px;
}

#addButton {
    position: absolute;
    border-radius: 100%;

    height: 50px;
    width: 50px;

    bottom: 50px;
    right: 0px;

    background-size: cover;
}

#loader {
    top: -100000px;
    position: absolute;
    max-width: 1120px;
    width: 100%;
    height: 100%;
    background: #00000088 url('./../assets/images/loading.gif') no-repeat center;
    background-size: 20% auto;
    z-index: 999;
}

#loader img {
    padding-top: 33.3%;
    padding-left: 33.3%;
    height: 33.3%;
}

/* HEADER LAYOUT */

.brandIcon, .filterIcon {
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

.headerSpacer {
    height: 45px;
    width: 45px;
}

.brandDiv, .headerSpacer, .centerHeaderDiv {
    height: 45px;
    float: left;
    display: block;
}

.menuButton {
  float: left;
  padding: 0;

  min-width: 45px;
  height: 45px;
}

.menuIcon {

  width: 45px !important;
  height: 45px !important;
  font-size: 3.1em !important;
}

.brandDiv, .centerHeaderDiv {
    width: calc(100% - 90px);
}

.brandDiv {
    background: url(../assets/images/header_bright.png) no-repeat center center;
    background-size: 197px 30px;
}

.centerHeaderDiv {
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

.centerHeaderDiv img {
    vertical-align: middle;
}

.topbar, .toplowerbar {
    height: 45px;
    width: 100%;
}

.toplowerbar {
    top: 45px;
    font-size: 25px;
    max-width: 1120px;
    position: fixed;
}

/* NAV */
.sidenav {
  margin: 60px 20px;
}

.login-container {
  margin: 20px 0px;
}

.menu-container {
  margin: 20px 0px;
}

.menu-container>button {
  width: 200px;
  height: 50px;
  margin: 5px 0px;
}


/* Colors */
.header {
    background: #ffff;
}

.footer {
    background-color: #d0d2d3;
}

#addButton {
    border: 1px solid black;
    background: url('../assets/images/add_alternative_bright.png') no-repeat center;
}

.toplowerbar {
    background-color: #d0d2d3;
}

/*Filter*/
.filter {
    z-index: 150;
}
