<h1>Upcoming Events</h1>
<mat-card *ngFor="let event of events; let i=index"
  [ngClass]="{'event-card' : true, 'party' : event.type == 'party', 'theatre' : event.type == 'theatre', 'concert' : event.type == 'concert'}">
  <mat-card-header>
    <div mat-card-avatar class="event-header-image" [style.backgroundImage]="'url(' + event.asset +')'"></div>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.locDesc}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>{{dateToString(event.fromDate)}} - {{dateToString(event.toDate)}}</h3>
    <p>
      {{event.desc}}
    </p>
  </mat-card-content>
</mat-card>
<h1>Done Events</h1>
<mat-card *ngFor="let event of eventsDone; let i=index"
  [ngClass]="{'event-card' : true, 'party' : event.type == 'party', 'theatre' : event.type == 'theatre', 'concert' : event.type == 'concert'}">
  <mat-card-header>
    <div mat-card-avatar class="event-header-image" [style.backgroundImage]="'url(' + event.asset +')'"></div>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.locDesc}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>{{dateToString(event.fromDate)}} - {{dateToString(event.toDate)}}</h3>
    <p>
      {{event.desc}}
    </p>
  </mat-card-content>
</mat-card>
