/* GENERAL */
header {
    background: #fff;
}

footer {
    background-color: #d0d2d3;
}
  
main{
    background-color: #f1f3f4;
}

#addButton {
    border: 1px solid black;
    background: url('../images/add_alternative_bright.png') no-repeat center;
}

/* HEADER */
.brandDiv {
    background: url(../images/header_bright.png) no-repeat center center;
}

.toplowerbar {
    background-color: #d0d2d3;
}

/* NAV */
#sidenav {
    background: #d0d2d3;
}

#sidenavunderlay {
    background-color: #00000091;
}

.navtop > ul > li > a > button {
    border: 1px solid black;
    background: rgb(250, 250, 250);
    color: black;
}

.navbottom {
    background: #d0d2d3;
}

#loginButton {
    border: 1px solid black;
}

/* MODAL */
#modalcontent {
    background-color: #f1f3f4;
}

#modal .close {
    border: 1px solid #333;
}

#modal .close:before, #modal .close:after {
    background-color: #333;
}

/* FILTER */
#filtercontent {
    background-color: #f1f3f4;
}

/* TILES */
.eventTile {
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(250, 250, 250);
}

.eventIconImg {
    border: 1px solid black;
}

/* scroll bar */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}