/* GENERAL PAGE LAYOUT */

body {
    margin: 10px auto;
    max-width: 70em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header, footer {
    max-width: 70em;
    width: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: 40;
}

header {
    top: 0px;
    height: 90px;
}

footer {
    bottom: 0px;
    height: 40px;
    z-index: 50;
    text-align: center;
}

footer p {
    margin-top: 12px;
}

map {
    float: left;
}

main {
    position: absolute;
    top: 90px;
    bottom: 40px;
    max-height: calc(100% - 120px);
    max-width: 70em;
    width: 100%;
    overflow: auto;
}

article, section, aside {
    margin: 5px;
    padding: 5px;
}

#addButton {
    position: absolute;
    border-radius: 100%;

    height: 50px;
    width: 50px;

    bottom: 50px;
    right: 0px;

    background-size: cover;
}

#loader {
    top: -100000px;
    position: absolute;
    max-width: 70em;
    width: 100%;
    height: 100%;
    background: #00000088 url('../images/loading.gif') no-repeat center;
    background-size: 20% auto;
    z-index: 999;
}

#loader img {
    padding-top: 33.3%;
    padding-left: 33.3%;
    height: 33.3%;
}

/* HEADER LAYOUT */

.icon {
    margin: 10px;
    height: 25px;
    width: 25px;
    font-size: 1.5em;
}

.brandIcon, .filterIcon {
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

#menuIconImage {
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

.headerSpacer {
    height: 45px;
    width: 45px;
}

.brandDiv, .menuIcon, .headerSpacer, .centerHeaderDiv {
    height: 45px;
    float: left;
    display: block;
}

.brandDiv, .centerHeaderDiv {
    width: calc(100% - 90px);
}

.brandDiv {
    background-size: 197px 30px;
}

.centerHeaderDiv {
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

.centerHeaderDiv img {
    vertical-align: middle;
}

.topbar, .toplowerbar {
    height: 45px;
}

.toplowerbar {
    font-size: 25px;
}

.searchbar>input {
    width: 100%;
}
/*.searchbar {
    top: 90px;
    position: absolute;
    height: 30px;
    overflow: visible;
    z-index: 11;
}*/

.result {
    border-radius: 10px;
    border-top-left-radius: 0px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    overflow: hidden;
}

.resultEntry {
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 5px;
}

.resultEntry:hover {
    background-color: lightgray;
}

/* NAV */

#sidenav {
    position: absolute;
    top: 45px;
    z-index: 100;
    height: calc(100% - 105px);
    padding: 10px;
    left: -100000px;
    overflow: hidden;
}

#sidenavunderlay {
    opacity: 0.5;
    max-width: 70em;
    width: 100%;
    height: calc(100% - 85px);
    top: 45px;
    display: none;
    position: absolute;
    z-index: 95;
}

#sidenav>div {
    overflow: auto;
    height: calc(100% - 20px);
}

.navtop {
    height: calc(100% - 100px);
}

.navtop>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navtop>ul>li>a {
    text-decoration: none;
}

.navtop>ul>li>a>button {
    border-radius: 2px;
    margin: 2px auto;
    text-align: center;
    padding: 5px 30px;
    width: 100%;
}

.navbottom {
    padding: 0 10px;
    height: 100px;
}

#login {
    width: 100%;
}

#login input[type=text], #login input[type=password] {
    width: 97%;
}

#loginButton {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    background-color: #3267bc;
    color: white;
}

/* MODAL */

main#modal {
    background: #ffffff00; /* color doesn't matter, only alpha is relevant*/
    position: absolute;
    max-height: calc(100% - 45px);
    max-width: 70em;
    width: 100%;
    display: none;
    z-index: 45;
}

#modalunderlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modalcontent {
    position: absolute;
    margin: 20px;
    height: calc(100% - 40px);
    max-width: 68em;
    min-width: calc(100% - 40px);
    display: block;
}

#modalcontentpane {
    height: 100%;
    overflow: auto;
}

#modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

#modal .close:hover {
    opacity: 1;
}

#modal .close:before, #modal .close:after {
    position: absolute;
    left: 9px;
    content: ' '; /* anzuzeigender content */
    height: 21px; /* element höhe */
    width: 2px; /* strichdicke */
}

#modal .close:before {
    transform: rotate(45deg);
}

#modal .close:after {
    transform: rotate(-45deg);
}

/* FILTER */

main#filter {
    background: #ffffff00; /* color doesn't matter, only alpha is relevant*/
    position: absolute;
    max-height: calc(100% - 45px);
    max-width: 70em;
    width: 100%;
    display: none;
    top: -10000px;
    z-index: 25;
}

#filterunderlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#filtercontent {
    position: absolute;
    margin: 20px;
    padding: 20px;
    margin-top: 0px;
    max-width: 68em;
    min-width: calc(100% - 80px);
    display: block;
}

#filtercontentpane {
    height: 100%;
    overflow: auto;
}

#filterform td:nth-child(2) {
    width: 100%;
}

#filter .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

#filter .close:hover {
    opacity: 1;
}

#filter .close:before, #filter .close:after {
    position: absolute;
    left: 9px;
    content: ' '; /* anzuzeigender content */
    height: 21px; /* element höhe */
    width: 2px; /* strichdicke */
}

#filter .close:before {
    transform: rotate(45deg);
}

#filter .close:after {
    transform: rotate(-45deg);
}

.rangeslidecontainer {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.rangeslider {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 9px; 
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 18px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.rangeslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.rangeslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#filtercontent td {
    vertical-align: top;
    padding: 10px 20px 0px 20px;
}

#filtercontent table table td {
    padding: 0;
}

/* TILES */

.eventTile {
    padding: 10px;
    margin: 15px 10px;
    text-overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.upperTile {
    overflow: auto;
}

.lowerTile {
    width: 100%;
}

.eventIcon {
    width: min(30%, 80px);
}

.eventIconImg {
    margin: 0px 20px 0px 10px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.description {
    padding: 7px 0px;
    font-size: 20px;
    overflow: hidden;
}

.floater {
    float: left;
    position: relative;
}

.clearer {
    clear: both;
}

/* scroll bar */

/* width */

::-webkit-scrollbar {
    width: 8px;
    /*display: none;*/
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    
}*/

/* checkbox as slider */

/* The switch - the box around the slider */

.switch {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(160, 160, 160);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

label.cameraButton {
    display: inline-block;
    margin: 1em 0;
    /* Styles to make it look like a button */
    padding: 0.5em;
    border: 2px solid;
    border-color: black;
    background-color: #DDD;
    width: 50%;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */

label.cameraButton input {
    display: none;
}

label.cameraButton img {
    width: 100%;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* table td[data-href] {
    cursor: pointer;
} */

table td[onClick] {
    cursor: pointer;
}

.aboutHeaderAbout {
    font-size: 2em;
    margin: 10px 20px 0px 20px;
}

.aboutDevelopmentHeading {
    font-size: 1.5em;
    margin: 20px 10px 10px 10px;
}

.aboutDevelopment {
    margin: 0px 20px 10px 20px;
}

ul.aboutDevelopmentDevelopers {
    list-style-type: none;
    margin: 0px 10px 20px 20px;
    padding: 0;
}

.aboutDevelopmentDevelopment {
    margin: 0px 10px 20px 10px;
    font-style: italic;
}

.aboutDevelopmentDisclaimer {
    margin: 30px 0px 10px 0px;
}

.aboutDevelopmentCopyright {
    margin: 20px 0px 20px 0px;
}

/* CSS TRICKERY TO DISABLE PULL-DOWN RELOAD */
.no_reload { 
    overscroll-behavior: none;
}