<div class="filterdialog">
  <mat-slide-toggle [checked]="data.enabled" [(ngModel)]="data.enabled">enable filter</mat-slide-toggle>

  <div class="filterentry">
    <mat-form-field class="locationform">
    <input [formControl]="autoCompleteControl" type="text" placeholder="Select your Location" aria-label="Number" matInput [matAutocomplete]="auto" [ngModel]="data.locationString">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of locationAutoComplete$ | async; let i = index" [value]="item.display_name" (click)="onSelectionChange(item.display_name, item.lon, lon)">
        {{item.display_name}}
      </mat-option>
    </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="filterentry">
    Distance ({{data.distance}} km)<br>
    <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" [value]="data.distance" min="0" max="50"
      [(ngModel)]="data.distance">
    </mat-slider><br>
  </div>

  <div class="filterentry">
    Event Type ({{typesList.selectedOptions.selected.length}} selected)<br>
    <mat-selection-list #typesList [(ngModel)]="data.selectedTypes">
      <mat-list-option *ngFor="let type of data.types" [value]="type">
        {{type}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="filterentry">
    <mat-form-field class="datepicker">
      <input matInput [matDatepicker]="pickerFrom" placeholder="From Date:" [value]="data.fromDate"
        [(ngModel)]="data.fromDate">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="datepicker" style="float: right">
      <input matInput [matDatepicker]="pickerTo" placeholder="To Date:" [value]="data.toDate" [(ngModel)]="data.toDate">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-raised-button class="applyFilterButton" (click)="applyFilter()" [mat-dialog-close]="data"
    color="accent">Apply</button>
</div>
