<article class="eventTile">
  <div class="modallink" data-eventId="eventDetail3">
    <div class="upperTile">
      <div class="floater eventIcon">
        <img src="assets/images/{{asset}}" class="eventIconImg">
      </div>
      <div class="floater description">
        <span class="name">{{ title }}</span><br />
        <span class="location">{{ location }}</span><br />
        <span class="time">{{ timeString }}</span>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="lowerTile">
      <p>{{ description }}</p>
    </div>
  </div>
</article>
